.top-bar {
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
  display: flex;
}

@media (max-width: 768px) {
  /*mobile*/
  .menu {
    flex: 1;
  }
}

@media (min-width: 769px) {
  /*desktop*/
  .menu {
    flex: 10;
  }
}

.btn-holder {
  width: fit-content;
  display: inline-block;
  margin-right: 5%;
  flex: 1;
}

#btn-br {
  background-image: url("/src/images/br_flag_bw.png");
}

#btn-us {
  background-image: url("/src/images/us_flag_bw.png");
}

.btn-lang-changer {
  width: 40px;
  height: 28px;
  background-size: cover;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  flex: 1;
}

#btn-br.btn-lang-changer:hover {
  background-image: url("/src/images/br_flag.png");
}

#btn-us.btn-lang-changer:hover {
  background-image: url("/src/images/us_flag.png");
}

.btn-lang-changer:active {
  outline: solid white 2px;
  outline-offset: -2px;
}
