.header-div {
  /*background-color: white;*/
  background-color: #2f2f2f;
  margin-top: 80px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 1rem;
}

.header-div h1 {
  min-height: 1.2em;
}

.header-div h3 {
  min-height: 1em;
}

.foto-main {
  background-image: url("/src/images/profile-pic2.jpeg");
  background-size: cover;
  border: solid 5px #2f2f2f;
  z-index: 1;
  position: absolute;
  left: 5%;
  border-radius: 10px 30px 10px 30px;
}

@media (max-width: 768px) {
  /*mobile*/
  .header-div {
    width: 100%;
    padding: 0;
    text-align: right;
    border-radius: 0px 50px 0px 50px;
    overflow: hidden;
  }
  .capa-header-div {
    padding: 10px;
    margin: 0;
    height: 100px;
    background-image: url("/src/images/cover.jpeg");
    background-size: cover;
  }
  .foto-main {
    width: 120px;
    height: 120px;
    top: 120px;
  }
  .text-header-div {
    /*border: 1px solid;*/
    margin: 60px 20px 20px 20px;
    padding: 0;
  }
  .footer-header-div {
    padding: 10px;
  }
}

@media (min-width: 769px) {
  /* desktop */
  .header-div {
    width: 50%;
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /*border-radius: 35px;*/
    border-radius: 10px 50px 10px 50px;
    text-align: right;
    overflow: hidden;
  }
  .capa-header-div {
    padding: 10px;
    margin: 0;
    height: 200px;
    background-image: url("/src/images/cover.jpeg");
    background-size: cover;
  }
  .text-header-div {
    margin: 40px;
    padding: 0;
  }
  .footer-header-div {
    padding: 10px;
  }
  .foto-main {
    width: 150px;
    height: 150px;
    top: 150px;
  }
}
