.about-me-div {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 768px) {
  /*mobile*/
  .about-me-div {
    width: 100%;
    border-radius: 0px 50px 0px 50px;
  }
  .text-about-me-div {
    margin: 20px;
    padding: 10px;
  }
  .languages {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-flow: row wrap;
    margin-bottom: 20px;
  }
  #box-explain.visible {
    transition-timing-function: ease-in-out;
    transition: 0.3s;
    height: 150px;
  }
}

@media (min-width: 769px) {
  /* desktop */
  .about-me-div {
    width: 50%;
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /*border-radius: 35px;*/
    border-radius: 10px 50px 10px 50px;
  }
  .text-about-me-div {
    margin: 40px;
    padding: 10px;
  }
  .languages {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }
  #box-explain.visible {
    transition-timing-function: ease-in-out;
    transition: 0.7s;
    height: 50px;
  }
}

.lang-box {
  color: rgb(161, 43, 0);
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  cursor: pointer;
  flex: 1;
  text-align: center;
  border: solid 2px;
  border-color: #b8adad;
  margin: 2px;
  padding: 10px;
  /*border-radius: 20px;*/
  border-radius: 5px 15px 5px 15px;
}

.lang-box:hover {
  color: rgb(255, 68, 0);
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  flex: 3;
}

#box-explain {
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  height: 30px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin-top: 30px;
}

#box-explain.visible {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
  color: #373333;
  text-align: left;
  font-style: normal;
}
