/* body */

body {
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
  background-color: #ececdb;
  color: #373333;
}

.main {
  min-height: 100vh;
  width: 100%;
}

.header-div {
  background-color: white;
  margin-top: 80px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 768px) {
  /*mobile*/
  .header-div {
    width: 100%;
    padding: 0;
    text-align: right;
  }
  .capa-header-div {
    padding: 10px;
    margin: 0;
    height: 100px;
    background-image: url("images/cover.jpeg");
    background-size: cover;
  }
  .foto-main {
    width: 120px;
    height: 120px;
    background-image: url("images/profile-pic2.jpeg");
    background-size: cover;
    border: solid 5px white;
    z-index: 1;
    position: absolute;
    left: 5%;
    top: 120px;
    border-radius: 10px 30px 10px 30px;
  }
  .text-header-div {
    /*border: 1px solid;*/
    margin: 60px 20px 20px 20px;
    padding: 0;
  }
  .footer-header-div {
    padding: 10px;
  }
}

@media (min-width: 769px) {
  /* desktop */
  .header-div {
    width: 50%;
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 35px;
    text-align: right;
    overflow: hidden;
  }
  .capa-header-div {
    padding: 10px;
    margin: 0;
    height: 200px;
    background-image: url("images/cover.jpeg");
    background-size: cover;
  }
  .text-header-div {
    margin: 40px;
    padding: 0;
  }
  .footer-header-div {
    padding: 10px;
  }
  .foto-main {
    width: 150px;
    height: 150px;
    background-image: url("images/profile-pic2.jpeg");
    background-size: cover;
    border: solid 5px white;
    z-index: 1;
    position: absolute;
    left: 5%;
    top: 150px;
    border-radius: 10px 30px 10px 30px;
  }
}

.about-me-div {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 768px) {
  /*mobile*/
  .about-me-div {
    width: 100%;
  }
  .text-about-me-div {
    margin: 20px;
    padding: 10px;
  }
}

@media (min-width: 769px) {
  /* desktop */
  .about-me-div {
    width: 50%;
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 35px;
  }
  .text-about-me-div {
    margin: 40px;
    padding: 10px;
  }
}

.lang-box {
  color: rgb(161, 43, 0);
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  cursor: pointer;
}

.lang-box:hover {
  color: rgb(255, 68, 0);
  transition-timing-function: ease-in-out;
  transition: 0.5s;
}

#box-explain {
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  height: 0;
  color: transparent;
}

#box-explain.visible {
  transition-timing-function: ease-in-out;
  transition: 0.7s;
  height: 100px;
  color: #373333;
}